.user-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem;
}

.user-login .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-form .input-fields {
    max-width: 25rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-fields input {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: 1px solid #999999;
    border-radius: 4px;
}

.input-fields input:focus {
    outline: none;
    border-color: #5c5c5c;
    box-shadow: 0 0 5px rgba(92, 92, 92, 0.5);
}

.input-fields input::placeholder {
    color: #b4b4b4;
}