.landing-cta {
    margin: 7rem 0 8rem 15rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: 6rem 1rem;
    font-family: var(--font-family);
}

.landing-cta .input-item {
    max-width: 20rem;
    min-width: 15rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid #999999;
    border-radius: 15px;

}

.landing-cta .desc {
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .section-type {
        margin: 1.5rem 4rem;
    }

    .title-heading {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .section-type {
        margin: 1rem 2rem;
    }

    .title-heading {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .section-type {
        margin: 0.5rem 1rem;
    }

    .title-heading {
        font-size: 0.75rem;
    }
}

@media (max-width: 240px) {
    .section-type {
        margin: 0.25rem 0.5rem;
    }

    .title-heading {
        font-size: 0.5rem;
    }
}